nav {
    background-color: blue;
    color: #fff;
    height: 100vh;
  }
  
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 15px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  